<div>
  <form action="/login" method="POST">
    <h2>Login:</h2>
    <label for="username">Username</label>
    <input type="text" name="username" id="usernameInput" autofocus>
    <label for="password">Password</label>
    <input type="password" name="password" id="passwordInput" required>
    <br /><button class="btn btn-lg btn-primary btn-block" type="submit">Login!</button>
  </form>
</div>
